<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="conString" connectionString="Server=ATHAN-01\JAY;Database=HEY;UID=sa;PWD=tan;" />
    <!--<add name="conString" connectionString="Server=TAFT-IS116;Database=Alt + f4;UID=sa;Password=stbenilde;" />-->
    <!--<add name="conString" connectionString="Server=TAFT-IS116;Database=mystore;UID=sa;Password=stbenilde;" />-->

  </connectionStrings>
</configuration>
